include ../modules/head/head
include ../modules/_page-list/_page-list

doctype html
html(class="no-js" lang=config.lang)

	head
		+head(head.index)

body.page
	section.form
		mixin field(title, value, input_name)
			div.form__field
				label(for=input_name)= title
				input(type="text", name=input_name, value=value, required, readonly)
		+field('Полное ФИО', 'Калачев Никита Алексеевич', 'name')
		+field('Год рождения', '1990 г.', 'birth_year')
		+field('Место жительства', 'г. Ульяновск', 'location')
		+field('Скайп', 'miles_fon_darkta', 'skype')
		+field('Почта', 'nikitakalachev18@gmail.com', 'mail')
	
	section.checkbox
		section.about
		h3 Расскажите о себе чекбоксами
		section.text
		p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
		
		mixin checkbox(title, name, is_checked)
			div.form__checkbox
				label(for=name)!= title
				input(type="checkbox", name=name, checked=is_checked, disabled)
		.flex-row
			.flex-column
				+checkbox('БЭМ/OOCSS', 'oocss', true)
				+checkbox('Pug (Jade)', 'jade', true)
				+checkbox('Stylus/LESS/SASS', 'stylus', true)
				+checkbox('Работаю с SVG', 'svg', true)
				+checkbox('Верстаю семантично', 'semantic', true)
				+checkbox('Accessibility (A11Y)', 'accessibility', false)
				+checkbox('ES2015/ES2016', 'es2015', false)
			
			.flex-column
				+checkbox('Gulp/GRUNT', 'gulp', false)
				+checkbox('Webpack', 'webpack', false)
				+checkbox('Дружу с WebGL', 'webgl', false)
				+checkbox('jOuery', 'jquery', false)
				+checkbox('Знаю/изучаю Angular', 'angular', false)
				+checkbox('Знаю/изучаю React', 'react', false)
				+checkbox('Знаю/изучаю Node.js', 'semantic', true)
				
			.flex-column
				+checkbox('Использую Git', 'git', true)
				+checkbox('С глазомером все ок', 'Карина', true)
				+checkbox('Читаю блог <a href="https://blog.csssr.ru">blog.csssr.ru</a>', 'csssr', true)
				+checkbox('Я ленивый(-ая)', 'lazy', false)
				+checkbox('У меня хороший английский', 'english', true)

	section.javascript
		h3 Уровень владения JavaScript
		input(type="range", id="weight", min="0", value="1", max="3", step="1")
		h5(id="one") Не владею
		h5(id="two") Использую готовые решения
		h5(id="three") Использую готовые решения и умею их переделывать 
		h5(id="four") Пишу сложный JS с нуля

	section.myself
		h3 Расскажите о себе словами
		p Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		textarea(class="area", rows=3).form
			|Нуууу
			|эээ
			|..

	section.future
		h3 Какие у вас планы на будущее?
		p Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
		mixin radio(title, name, is_checked)
			div.form__radio
				input(type="radio", name=name, checked=is_checked)
				label(for=name)=title
		.flex-row
			+radio('Верстать', 'pages')
			+radio('Прокачиваться в JS', 'js', true)
			+radio('Менеджерство', 'manager')
			+radio('Другое', 'other')
			
	section.date
		h3 Дата заполнения
		input(type="date" name="calendar" value="2017-03-14" max="2100-01-01" min="2017-01-01")
			